<header class="header-1">
  <div class="branding">
    <a href="/" class="nav-link">
      <clr-icon shape="note" size="40" class="is-inverse"></clr-icon>
      <span class="title">My Notepad</span>
    </a>
  </div>
  <div class="header-nav">
    <a href="/about" class="nav-link"> <span class="nav-text">About</span> </a>
    <a href="/" class="nav-link"> <span class="nav-text">Notepad</span> </a>
    <a href="/quote" class="nav-link"> <span class="nav-text">Quote</span> </a>
  </div>
</header>
